<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BUILD ALL.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Build Docs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NippurUniversal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>602492181672564F0030C6B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>602492C21672579D0030C6B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6059142D1B05662600C7A2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5500AB91A9B8FC000B9BDFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5500AC31A9B8FC000B9BDFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
