<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Build Docs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>602491FF167256340030C6B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>602492181672564F0030C6B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>602492C21672579D0030C6B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6059142D1B05662600C7A2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6085F3C915D03FE60050988A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6085F51415D041BB0050988A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6085F55115D041F10050988A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6085F6BA15D0455B0050988A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6085F70615D052E00050988A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6085F74315D053380050988A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60BF568116DBCD2100D69E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60BF56B216DBCD9D00D69E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95D8744D1585A3FD000A70F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5500AB91A9B8FC000B9BDFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5500AC31A9B8FC000B9BDFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
