<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- Header -->

	<key>Ancestors</key>
	<array>
		<string>com.nippur.Framework</string>
	</array>

	<key>Identifier</key>
	<string>com.nippur.Base</string>

	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>

	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>

	<!-- User Options -->

	<key>Options</key>
	<array>

		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>

		<dict>
				<key>Identifier</key>
				<string>organizationName</string>
				<key>Name</key>
				<string>Organization Name:</string>
				<key>Description</key>
				<string>Your company&apos;s name</string>
				<key>Type</key>
				<string>text</string>
				<key>Default</key>
				<string>Nippur</string>
		</dict>

		<dict>
			<key>Identifier</key>
			<string>bundleIdentifierPrefix</string>
			<key>Description</key>
			<string>Your company&apos;s bundle identifier prefix.</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany</string>
			<key>Name</key>
			<string>Organization Identifier</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>

		<dict>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Default</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>Description</key>
			<string>Your new product&apos;s bundle identifier.</string>
			<key>Name</key>
			<string>Bundle Identifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>

		<dict>
			<key>Identifier</key>
			<string>tierCore</string>
			<key>Default</key>
			<string>Core</string>
			<key>Description</key>
			<string>The name of the Logic + Data layer.</string>
			<key>Name</key>
			<string>Logic + Data Layer</string>
			<key>Type</key>
			<string>static</string>
		</dict>

		<dict>
			<key>Identifier</key>
			<string>tierMain</string>
			<key>Default</key>
			<string>Presentation</string>
			<key>Description</key>
			<string>The name of the Presentation layer.</string>
			<key>Name</key>
			<string>Presentation Layer</string>
			<key>Type</key>
			<string>static</string>
		</dict>

		<dict>
			<key>Identifier</key>
			<string>classPrefix</string>
			<key>Name</key>
			<string>Class Prefix</string>
			<key>Description</key>
			<string>The prefix to prepend to all created classes.</string>
			<key>Type</key>
			<string>text</string>
			<key>Placeholder</key>
			<string>XYZ</string>
		</dict>

		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Default</key>
			<string>Universal</string>
			<key>Description</key>
			<string>What device family to create a project for.</string>
			<key>Name</key>
			<string>Device Family</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>iPhone</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>2</string>
						</dict>
					</dict>
				</dict>
				<key>Universal</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1,2</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>

	</array>

	<!-- Project Settings -->

	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG</string>
				<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
				<string>NO</string>
				<key>ONLY_ACTIVE_ARCH</key>
				<string>YES</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string>-DNS_BLOCK_ASSERTIONS=1</string>
				<key>ONLY_ACTIVE_ARCH</key>
				<string>NO</string>
			</dict>
		</dict>

		<key>SharedSettings</key>
		<dict>
			<key>GCC_THUMB_SUPPORT</key>
			<string>YES</string>
			<key>GCC_C_LANGUAGE_STANDARD</key>
			<string>gnu99</string>
			<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
			<string>YES</string>
			<key>GCC_WARN_UNUSED_VARIABLE</key>
			<string>YES</string>
			<key>GCC_VERSION</key>
			<string>com.apple.compilers.llvm.clang.1_0</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>latest_iphoneos</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>

		<key>SDK</key>
		<string>iphoneos</string>
	</dict>

	<!-- Adding Files -->

	<key>Definitions</key>
	<dict>

		<!-- Groups -->

		<!-- Files -->

		<key>../.gitignore</key>
		<dict>
			<key>Path</key>
			<string>.gitignore</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>Resources/Supporting Files/Info.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>Resources/Supporting Files/Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>Resources/Supporting Files/Settings.bundle</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>Resources/Supporting Files/Settings.bundle</string>
			<key>TargetIndices</key>
			<array>
				<string>0</string>
			</array>
		</dict>

		<key>Resources/Interfaces/Main.storyboard</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Interfaces</string>
			</array>
			<key>Path</key>
			<string>Resources/Interfaces/Main.storyboard</string>
			<key>TargetIndices</key>
			<array>
				<string>0</string>
			</array>
		</dict>

		<key>Resources/Language/en.lproj/Localizable.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Language</string>
			</array>
			<key>Path</key>
			<string>Resources/Language/en.lproj/Localizable.strings</string>
			<key>TargetIndices</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<key>Resources/Language/pt.lproj/Localizable.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Language</string>
			</array>
			<key>Path</key>
			<string>Resources/Language/pt.lproj/Localizable.strings</string>
			<key>TargetIndices</key>
			<array>
				<string>0</string>
			</array>
		</dict>

		<key>Resources/Fonts/Empty</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Fonts</string>
			</array>
			<key>Path</key>
			<string>Resources/Fonts/Empty</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>Sources/___VARIABLE_tierCore___/Logic/Services/Empty</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>Core</string>
				<string>Logic</string>
				<string>Services</string>
			</array>
			<key>Path</key>
			<string>Sources/Core/Logic/Services/Empty</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Sources/___VARIABLE_tierCore___/Helpers/Empty</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>Core</string>
				<string>Helpers</string>
			</array>
			<key>Path</key>
			<string>Sources/Core/Helpers/Empty</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Sources/___VARIABLE_tierCore___/Data/Models/Empty</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>Core</string>
				<string>Data</string>
				<string>Models</string>
			</array>
			<key>Path</key>
			<string>Sources/Core/Data/Models/Empty</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>Sources/___VARIABLE_tierMain___/Interface/___VARIABLE_classPrefix:identifier___AppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>Presentation</string>
				<string>Interface</string>
			</array>
			<key>Path</key>
			<string>Sources/Presentation/Interface/AppDelegate.swift</string>
			<key>TargetIndices</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<key>Sources/___VARIABLE_tierMain___/Interface/Controllers/___VARIABLE_classPrefix:identifier___FirstViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>Presentation</string>
				<string>Interface</string>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Sources/Presentation/Interface/Controllers/FirstViewController.swift</string>
			<key>TargetIndices</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<key>Sources/___VARIABLE_tierMain___/Interface/Views/Empty</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>Presentation</string>
				<string>Interface</string>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Sources/Presentation/Interface/Views/Empty</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

	</dict>

	<key>Nodes</key>
	<array>
		<string>../.gitignore</string>

		<string>Resources/Interfaces/Main.storyboard</string>
		<string>Resources/Language/en.lproj/Localizable.strings</string>
		<string>Resources/Language/pt.lproj/Localizable.strings</string>
		<string>Resources/Supporting Files/Info.plist</string>
		<string>Resources/Supporting Files/Settings.bundle</string>
		<string>Resources/Fonts/Empty</string>

		<string>Sources/___VARIABLE_tierCore___/Logic/Services/Empty</string>
		<string>Sources/___VARIABLE_tierCore___/Helpers/Empty</string>
		<string>Sources/___VARIABLE_tierCore___/Data/Models/Empty</string>

		<string>Sources/___VARIABLE_tierMain___/Interface/___VARIABLE_classPrefix:identifier___AppDelegate.swift</string>
		<string>Sources/___VARIABLE_tierMain___/Interface/Controllers/___VARIABLE_classPrefix:identifier___FirstViewController.swift</string>
		<string>Sources/___VARIABLE_tierMain___/Interface/Views/Empty</string>
	</array>


	<!-- Targets and Frameworks -->

	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>

			<key>Name</key>
			<string>___PACKAGENAME___</string>

			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>

			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>NO</string>
					<key>GCC_DYNAMIC_NO_PIC</key>
					<string>NO</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>YES</string>
					<key>VALIDATE_PRODUCT</key>
					<string>YES</string>
				</dict>
			</dict>

			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>INFOPLIST_FILE</key>
				<string>$(PROJECT)/Resources/Supporting Files/Info.plist</string>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
			</dict>

			<key>Frameworks</key>
			<array>
				<string>UIKit</string>
			</array>

		</dict>
	</array>

	<!-- Components -->

	<key>Components</key>
	<array>
			<dict>
					<key>Identifier</key>
					<string>com.apple.dt.unit.cocoaTouchApplicationUnitTestBundle</string>
					<key>Name</key>
					<string>___VARIABLE_tierMain___Tests</string>
			</dict>

			<dict>
					<key>Identifier</key>
					<string>com.apple.dt.unit.cocoaTouchApplicationUnitTestBundle</string>
					<key>Name</key>
					<string>___VARIABLE_tierCore___Tests</string>
			</dict>
	</array>

</dict>
</plist>
