<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <!------------------------------
                Header
    ------------------------------->

	<key>Identifier</key>
	<string>com.db-in.iOSReferenceCounting</string>

	<key>InjectionTargets</key>
	<array>
		<string>com.db-in.Base</string>
	</array>

	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	
    <!------------------------------
              User Options
    ------------------------------->
    
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>true</string>
			<key>Description</key>
			<string>Whether the new project should use Automatic Reference Counting (ARC)</string>
			<key>Identifier</key>
			<string>useARC</string>
			<key>Name</key>
			<string>Use Automatic Reference Counting (ARC)</string>
			<key>SortOrder</key>
			<integer>2</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>false</key>
				<dict>
					<key>Macros</key>
					<dict>
						<key>RC_STRONG</key>
						<string>retain</string>
						<key>RC_WEAK</key>
						<string>assign</string>
						<key>RC_PRE</key>
						<string>[</string>
						<key>RC_RETAIN</key>
						<string> retain]</string>
						<key>RC_RELEASE</key>
						<string> release]</string>
						<key>RC_AUTORELEASE</key>
						<string> autorelease]</string>
						<key>RC_DEALLOC</key>
						<string>[super dealloc];</string>
					</dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>CLANG_ENABLE_OBJC_ARC</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<key>true</key>
				<dict>
					<key>Macros</key>
					<dict>
						<key>RC_STRONG</key>
						<string>strong</string>
						<key>RC_WEAK</key>
						<string>weak</string>
						<key>RC_PRE</key>
						<string></string>
						<key>RC_RETAIN</key>
						<string></string>
						<key>RC_RELEASE</key>
						<string> = nil</string>
						<key>RC_AUTORELEASE</key>
						<string></string>
						<key>RC_DEALLOC</key>
						<string></string>
					</dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>CLANG_ENABLE_OBJC_ARC</key>
							<string>YES</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>