<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
    
    <key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
    
    <key>Description</key>
	<string>An Objective-C Singleton class, organized with Xcode Macros and comments. Includes a header file.</string>
	
    <key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	
    <key>DefaultCompletionName</key>
	<string>MySingleton</string>
	
    <key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
	
    <key>SortOrder</key>
	<string>1</string>
	
    <key>Summary</key>
	<string>An Objective-C Singleton class with a header.</string>
</dict>
</plist>
