<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		
		<!------------------------------
		            Header
        ------------------------------->
		
		<key>Ancestors</key>
		<array>
			<string>com.db-in.Base</string>
		</array>
		
		<key>Identifier</key>
		<string>com.db-in.SingleView</string>
		
		<key>Kind</key>
		<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
		
		<key>Concrete</key>
		<true/>
		
		<key>Description</key>
		<string>This template provides a starting point basic application following DB-Interactively development guide lines. It provides an empty view.</string>
		<!------------------------------
		          User Options
        ------------------------------->
		
		<key>Options</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>nglViewMode</string>
				<key>Default</key>
				<string>XIB Files</string>
				<key>Description</key>
				<string>The view construction mode.</string>
				<key>Name</key>
				<string>View Mode</string>
				<key>SortOrder</key>
				<integer>1</integer>
				<key>Type</key>
				<string>popup</string>
				<key>Units</key>
				<dict>
                    <!------------------------------ View Mode - Using XIB ------------------------------->
					<key>XIB Files</key>
					<dict>
						<key>Definitions</key>
						<dict>
                        
							<key>Resources/XIBs/___VARIABLE_classPrefix:identifier___HomeVC.xib</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Resources</string>
									<string>XIBs</string>
								</array>
								<key>Path</key>
								<string>Resources/XIBs/HomeVC.xib</string>
							</dict>
							<key>Resources/XIBs/___VARIABLE_classPrefix:identifier___HomeVC~ipad.xib</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Resources</string>
									<string>XIBs</string>
								</array>
								<key>Path</key>
								<string>Resources/XIBs/HomeVC~ipad.xib</string>
							</dict>
							
						</dict>
						
						<key>Nodes</key>
						<array>
							<string>Resources/XIBs/___VARIABLE_classPrefix:identifier___HomeVC.xib</string>
							<string>Resources/XIBs/___VARIABLE_classPrefix:identifier___HomeVC~ipad.xib</string>
						</array>
					</dict>
                    
                    <!------------------------------ View Mode - Using Pure Code ------------------------------->
					<key>Pure Code</key>
					<dict>
					</dict>
                    
                    <!------------------------------ View Mode - Using Storyboard ------------------------------->
					<key>Storyboard</key>
					<dict>
						<key>Definitions</key>
						<dict>
                            
                            <key>Resources/Supporting Files/Info.plist</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Supporting Files</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Supporting Files/Info_storyboard.plist</string>
                                <key>TargetIndices</key>
                                <array/>
                            </dict>
                            
							<key>Resources/Storyboard/___VARIABLE_classPrefix:identifier___Storyboard.storyboard</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Resources</string>
									<string>Storyboard</string>
								</array>
								<key>Path</key>
								<string>Resources/Storyboard/Storyboard.storyboard</string>
							</dict>
                            
                            <key>Resources/Storyboard/___VARIABLE_classPrefix:identifier___Storyboard~ipad.storyboard</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Resources</string>
									<string>Storyboard</string>
								</array>
								<key>Path</key>
								<string>Resources/Storyboard/Storyboard~ipad.storyboard</string>
							</dict>
                            
						</dict>
                        
                        <key>Nodes</key>
						<array>
                            <string>Resources/Storyboard/___VARIABLE_classPrefix:identifier___Storyboard.storyboard</string>
							<string>Resources/Storyboard/___VARIABLE_classPrefix:identifier___Storyboard~ipad.storyboard</string>
						</array>
                        
					</dict>
                    
				</dict>
			</dict>
			
		</array>
		
		<!------------------------------
		          Adding Files
        ------------------------------->
		
		<key>Definitions</key>
		<dict>
            
            <!------------------------------ Project Default ------------------------------->
            
            <key>Sources/Controllers/___VARIABLE_classPrefix:identifier___AppDelegate.h</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Sources</string>
					<string>Controllers</string>
				</array>
				<key>Path</key>
				<string>Sources/Controllers/AppDelegate.h</string>
				<key>TargetIndices</key>
				<array/>
			</dict>
			<key>Sources/Controllers/___VARIABLE_classPrefix:identifier___AppDelegate.m</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Sources</string>
					<string>Controllers</string>
				</array>
				<key>Path</key>
				<string>Sources/Controllers/AppDelegate.m</string>
			</dict>
			
			<key>Sources/Controllers/Pages/___VARIABLE_classPrefix:identifier___HomeVC.h</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Sources</string>
					<string>Controllers</string>
					<string>Pages</string>
				</array>
				<key>Path</key>
				<string>Sources/Controllers/Pages/HomeVC.h</string>
				<key>TargetIndices</key>
				<array/>
			</dict>
			<key>Sources/Controllers/Pages/___VARIABLE_classPrefix:identifier___HomeVC.m</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Sources</string>
					<string>Controllers</string>
					<string>Pages</string>
				</array>
				<key>Path</key>
				<string>Sources/Controllers/Pages/HomeVC.m</string>
			</dict>
            
		</dict>
		
		<key>Nodes</key>
		<array>
			<string>Sources/Controllers/___VARIABLE_classPrefix:identifier___AppDelegate.h</string>
			<string>Sources/Controllers/___VARIABLE_classPrefix:identifier___AppDelegate.m</string>
			<string>Sources/Controllers/Pages/___VARIABLE_classPrefix:identifier___HomeVC.h</string>
			<string>Sources/Controllers/Pages/___VARIABLE_classPrefix:identifier___HomeVC.m</string>
		</array>
	</dict>
</plist>
